.list-wrapper {
    margin-top: 2.5rem;
}

.no-album {
    text-align: center;
    background: rgba(255, 255, 255, 0.212);
    height: 10rem;
    margin: 2.4rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    max-width: 94%;
    border-radius: 14px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    justify-items: center;  
    margin: 24px 24px -30px 24px;
}

.clear-all-button{
    background: rgb(255, 56, 56);
    padding: 10px 30px;
    color: #ffffff;
    border-radius: 6px;
    border: 0;
    box-shadow: 2px 2px 1px 1px rgba(255, 255, 255, 0.4);
    font-size: 16px;
}

.clear-all-button:hover {
    cursor: pointer;
    background: rgb(245, 86, 86);
}